.container
{

    position: relative;
    
}


.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: absolute;
  top: 4%;
  left: 32%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 4%;
  left: 32%;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}


.button-55 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: absolute;
  top: 4%;
  left: 40%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-55:active {
  box-shadow: 0px 0px 0px 0px;
  top: 4%;
  left: 40%;
}



@media (min-width: 768px) {
  .button-55 {
    padding: 0.25em 0.75em;
  }
}

.button-56 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: absolute;
  top: 4%;
  left: 50%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-56:active {
  box-shadow: 0px 0px 0px 0px;
  top: 4%;
  left: 50%;
}



@media (min-width: 768px) {
  .button-56 {
    padding: 0.25em 0.75em;
  }
}


.button-57 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: absolute;
  top: 4%;
  left: 60%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-57:active {
  box-shadow: 0px 0px 0px 0px;
  top: 4%;
  left: 60%;
}



@media (min-width: 768px) {
  .button-57 {
    padding: 0.25em 0.75em;
  }
}



.button-74 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: absolute;
  top: 4%;
  left: 90%;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-74:active {
  box-shadow: 0px 0px 0px 0px;
  top: 4%;
  left: 90%;
}



@media (min-width: 768px) {
  .button-74 {
    padding: 0.25em 0.75em;
  }
}