<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/main.css">
    
</head>
<body>
    <div class="container">
        <img src="/static/LANDING PAGE.svg" alt="LANDING">


        <a href="/"><button class="button-54" role="button">HOME</button></a>

        <a href="/events"><button class="button-55" role="button">EVENTS</button></a>

        <a href="tickets"><button class="button-56" role="button">TICKETS</button></a>

        <button class="button-57" role="button">FEEDBACK</button>

          
      </div>
    
</body>
</html>
