<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myshows</title>
    <link rel="stylesheet" href="/static/ticket.css">
</head>
<body>

    <div>

        <img style="height: 750px; width: 1500px; position: relative;" src="/static/My Shows.png" alt="">

        <a href="/table"><button class="button-63" role="button">event</button></a>

        <a href="/custable"><button class="button-64" role="button">costom</button></a>

        <a href="/custable"><button class="button-65" role="button">feedback</button></a>

    </div>
    
</body>
</html>