<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/ticket.css">
</head>
<body>

    <div id="tick">

        <img src="/static/BUY TICKETS.svg" alt="tickets">
        <a href="/table"><button class="button-59" role="button">MY SHOWS</button></a>

        <a href="/form"><button class="button-60" role="button">BOOK NOW!</button></a>

        <a href="/"><img style="position: absolute; top: 3.5%; right: 10%;" src="/static/back-arrow-50.png" alt="back"></a>

    </div>
    
</body>
</html>