   
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up Form</title>
        <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
      <div class="row">
    <div class="col-md-12">
      <form  action="/update/{{eventhive.sno}}" method="POST">
        <h1> REGISTER </h1>
        
        <fieldset>
          
          <legend><span class="number">1</span> YOUR DETAILS</legend>
        
          <label for="name">name:</label>
          <input type="text" id="name" name="name" value="{{eventhive.name}}">
      
  
          <label for="last_name">last Name:</label>
          <input type="text" id="last_name" name="last_name" value="{{eventhive.last_name}}">
        
          <label for="email">email:</label>
          <input type="email" id="email" name="email" value="{{eventhive.email}}">
       
          <label for="phonenumber">phonenumber:</label>
          <input type="number" id="phonenumber"  name="phonenumber" value="{{eventhive.phonenumber}}">
          
          <label for="date_of_birth">date_of_birth</label>
          <input type="datetime-local" id="date_of_birth"  name="date_of_birth" value="{{eventhive.date_of_birth}}"> <br>

            <br>  

          <label for="passes">Passes:</label>
          <select  id="passes" name="passes" value="{{eventhive.passes}}">
          <option value="general">General</option>
          <option value="vip">VIP</option>
          <option value="backstage">Backstage</option>
          </select>

        <label for="seat">seat no</label>
       <select id="seat" name="seat" value="{{eventhive.seat}}">
        <option value="1A">1A</option>
          <option value="2C">2C</option>
          <option value="12B">12B</option>
          <option value="4A">4A</option>
          <option value="5C">5C</option>
          <option value="3B">3B</option>
          <option value="4D">4D</option>
          <option value="19C">19C</option>
          <option value="23C">23C</option>
          <option value="13A">13A</option>
          <option value="16C">16C</option>
          <option value="9C">9C</option>
          <option value="11B">11B</option>
       </select>
      
               
           <br>
            <label for="events">event</label>
          <select id="events" name="events" value="{{eventhive.events}}">
            <optgroup label="ongoing events">
              <option value="SUNBURN">SUNBURN</option>
            <option value="TOMMORROWLAND">TOMMORROWLAND</option>
            <option value="ROLLING LOUD">ROLLING LOUD</option>
            <option value="COACHELLA">COACHELLA</option>
            <option value="OZZFEST">OZZFEST</option>
            <option value="BANGLORE_OPEN_AIR">BANGLORE_OPEN_AIR</option>
            <option value="Lollapalooza"> Lollapalooza</option>
            <option value="ULTRA_MIAMI">ULTRA_MIAMI</option>
               
            </optgroup>
              
            
      
         <br>
  
         <label>Pas:</label>
        
              <input type="hidden" id="pas" value="pas" name="pas"><label for="pas" class="light"></label><br>
          
          
        </fieldset>
        <fieldset>  
  
          <button type="submit">update</button>
        
       </form>
        </div>
      </div>

      <div>
        <a href="/table"><img style="position: absolute; top: 5%; right: 10%;" src="/static/back-arrow-50.png" alt="back"></a>
      </div>
      
    </body>
  </html>
</body>
</html>