#tick
{

    position: relative;
}


.button-59 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: absolute;
    top: 4%;
    left: 74%;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .button-59:active {
    box-shadow: 0px 0px 0px 0px;
    top: 4%;
    left: 74%;
  }
  
  
  
  @media (min-width: 768px) {
    .button-59 {
      padding: 0.25em 0.75em;
    }
  }


  .button-60 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: absolute;
    top: 89%;
    left: 43.7%;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .button-60:active {
    box-shadow: 0px 0px 0px 0px;
    top: 89%;
    left: 43.7%;
  }
  
  
  
  @media (min-width: 768px) {
    .button-60 {
      padding: 0.25em 0.75em;
    }
  }

  
  .button-61 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: absolute;
    top: 4%;
    left: 58%;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .button-61:active {
    box-shadow: 0px 0px 0px 0px;
    top: 4%;
    left: 58%;
  }
  
  
  
  @media (min-width: 768px) {
    .button-61 {
      padding: 0.25em 0.75em;
    }
  }
  

  
 
  .button-63 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: absolute;
    top: 47%;
    left: 3.6%;
    width: 190.8px;
    border-radius: 8px;
    height: 56px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .button-63:active {
    box-shadow: 0px 0px 0px 0px;
    top: 47%;
    left: 3.6%;
  }
  
  
  
  @media (min-width: 768px) {
    .button-63 {
      padding: 0.25em 0.75em;
    }
  }
  

   
  .button-64 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: absolute;
    top: 47%;
    left: 22.8%;
    width: 190.8px;
    border-radius: 8px;
    height: 56px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .button-64:active {
    box-shadow: 0px 0px 0px 0px;
    top: 47%;
    left: 22.8%;
  }
  
  
  
  @media (min-width: 768px) {
    .button-64 {
      padding: 0.25em 0.75em;
    }
  }
  

 
  .button-65 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: absolute;
    top: 47%;
    left: 42%;
    width: 190.8px;
    border-radius: 8px;
    height: 56px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .button-65:active {
    box-shadow: 0px 0px 0px 0px;
    top: 47%;
    left: 42%;
  }
  
  
  
  @media (min-width: 768px) {
    .button-65 {
      padding: 0.25em 0.75em;
    }
  }
  


  .button-67 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: absolute;
    top: 89%;
    left: 56%;
    
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .button-67:active {
    box-shadow: 0px 0px 0px 0px;
    top: 89%;
    left: 56%;
  }
  
  
  
  @media (min-width: 768px) {
    .button-67 {
      padding: 0.25em 0.75em;
    }
  }
  

  .button-75 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: absolute;
    top: 28.5%;
    left: 22.8%;
    width: 190.8px;
    border-radius: 8px;
    height: 56px;
    
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .button-75:active {
    box-shadow: 0px 0px 0px 0px;
    top: 28.5%;
    left: 22.8%;
  }
  
  
  
  @media (min-width: 768px) {
    .button-75 {
      padding: 0.25em 0.75em;
    }
  }
  
  
  
  .button-76 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: absolute;
    top: 65.5%;
    left: 22.8%;
    width: 190.8px;
    border-radius: 8px;
    height: 56px;
    
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .button-76:active {
    box-shadow: 0px 0px 0px 0px;
    top: 65.5%;
    left: 22.8%;
  }
  
  
  
  @media (min-width: 768px) {
    .button-76 {
      padding: 0.25em 0.75em;
    }
  }
  
  
  
  

  
