<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/table.css">
</head>
<body style="background: rgb(192, 150, 184) no-repeat;">
  


  
  <div class="container my-3">
      <h2>ADMIN DEATILS</h2>
      
              {% if alladmin|length == 0 %}
                 
              <div class="alert alert-dark" role="alert">
                 No data found
                </div>
                  {% else %} 
                  <table class="table" >
                      <thead>
                        <tr>
                          <th scope="col">SNo</th>
                          <th scope="col">username</th>
                          <th scope="col">password</th>
                          
                          
                        </tr>
                      </thead>
                      
                      <tbody>
            {% for eventhive in alladmin %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{eventhive.username}}</td>
              <td>{{eventhive.password}}</td>
              
              
              
            </tr>
            
            {% endfor %}
          </tbody>
          </table>
            {% endif %}
             
            <div>
              <a href="/myshows"><img style="position: absolute; top: 5%; right: 6%;" src="/static/back-arrow-50.png" alt="back"></a>
              
              
              
            </div>

</body>
</html>