<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>custom booking table</title>
    <link rel="stylesheet" href="/static/table.css">
</head>
<body>
    
  
  <div class="container my-3">
    <h2>payment details</h2>
    
            {% if allbill|length == 0 %}
               
            <div class="alert alert-dark" role="alert">
                No data found. Add data
              </div>
                {% else %} 
                <table class="table" >
                    <thead>
                      <tr>
                        <th scope="col">SNo</th>
                        <th scope="col">card number</th>
                        <th scope="col">date</th>
                        <th scope="col">cvv</th>
                        <th scope="col">name on card</th>
                        <th scope="col">actions</th>
                      </tr>
                    </thead>
                    
                    <tbody>
          {% for eventhive in allbill %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{eventhive.cardno}}</td>
            <td>{{eventhive.date}}</td>
            <td>{{eventhive.cvv}}</td>
            <td>{{eventhive.cname}}</td>


            <td>
              
              <button id="del"><a style="text-decoration: none; color: rgb(4, 4, 4);" href="/billdel/{{eventhive.sno}}" type="button">Delete</button></button>
            
            </td>
            
            
          </tr>
          
          {% endfor %}
        </tbody>
        </table>
          {% endif %}
           
          <div>
            <a href="/myshows"><img style="position: absolute; top: 5%; right: 6%;" src="/static/back-arrow-50.png" alt="back"></a>
            
            
            
          </div>
</body>
</html>